" .ideavimrc is a configuration file for IdeaVim plugin. It uses
"   the same commands as the original .vimrc configuration.
" You can find a list of commands here: https://jb.gg/h38q75
" Find more examples here: https://jb.gg/share-ideavimrc

set clipboard+=unnamed
set clipboard+=ideaput

nnoremap \e :e ~/.ideavimrc<CR>
nnoremap \r :action IdeaVim.ReloadVimRc.reload<CR>

let mapleader=" "

set nu rnu
set visualbell
set noerrorbells
set hlsearch
set incsearch
set ignorecase
set smartcase

" set timeoutlen=5000

" --- Enable IdeaVim plugins https://jb.gg/ideavim-plugins

" Highlight copied text
Plug 'machakann/vim-highlightedyank'
" Commentary plugin
Plug 'tpope/vim-commentary'
Plug 'tpope/vim-surround'

set NERDTree
set which-key

nnoremap <c-\> :action SplitVertically<CR>
nnoremap <c--> :action SplitHorizontally<CR>
nnoremap <c-=> :action Unsplit<CR>
nnoremap <c-m> :action MoveEditorToOppositeTabGroup<CR>

sethandler <c-j> a:vim
sethandler <c-k> a:vim

set ideajoin
set idearefactormode=keep

nnoremap [[ :action MethodUp<CR>
nnoremap ]] :action MethodDown<CR>

" easy removal of search highlighting "
nnoremap <silent><C-l> :nohlsearch<CR>

nnoremap <c-f> :action FindInPath<CR>
nnoremap <c-p> :action GotoFile<CR>
nnoremap <c-s> :action GotoSymbol<CR>
" nnoremap <c-b> :action RecentFiles<CR>
nnoremap <c-b> :action RecentLocations<CR>

nnoremap <c-o> :action Back<CR>
nnoremap <c-i> :action Forward<CR>

nmap <leader>rn :action RenameElement<CR>
nmap <leader>c  :action GoCoverage<CR>

nmap <leader>Q <action>(CloseEditor)
nmap <leader>b <action>(ToggleLineBreakpoint)
nmap <leader>. <action>(ShowIntentionActions)
nmap <leader>a <action>(HideActiveWindow)

nmap <leader>mt <action>(ToggleBookmark)
nmap <leader>mm <action>(ToggleBookmarkWithMnemonic)
nmap <leader>ml <action>(ShowBookmarks)

nmap <leader>gr <action>(FindUsages)

nnoremap <leader>e :NERDTreeToggle<CR>
nnoremap <leader>E :NERDTreeFind<CR>
