" .ideavimrc is a configuration file for IdeaVim plugin. It uses
"   the same commands as the original .vimrc configuration.
" You can find a list of commands here: https://jb.gg/h38q75
" Find more examples here: https://jb.gg/share-ideavimrc

set clipboard+=unnamed
set clipboard+=ideaput

nnoremap \e :e ~/.ideavimrc<CR>
nnoremap \r :action IdeaVim.ReloadVimRc.reload<CR>

let mapleader=" "

set nu rnu
set visualbell
set noerrorbells
set hlsearch
set incsearch
set ignorecase
set smartcase

set history=1000

" --- Enable IdeaVim plugins https://jb.gg/ideavim-plugins

" Highlight copied text
Plug 'machakann/vim-highlightedyank'
" Commentary plugin
Plug 'tpope/vim-commentary'
Plug 'tpope/vim-surround'

nnoremap <c-\> :action SplitVertically<CR>
nnoremap <c--> :action SplitHorizontally<CR>
nnoremap <c-=> :action Unsplit<CR>
nnoremap <c-m> :action MoveEditorToOppositeTabGroup<CR>

sethandler <c-j> a:vim
sethandler <c-k> a:vim

set ideajoin
set idearefactormode=keep

nnoremap [[ :action MethodUp<CR>
nnoremap ]] :action MethodDown<CR>

set incsearch

nnoremap <c-f> :action GotoFile<CR>

nnoremap <c-o> :action Back<CR>
nnoremap <c-i> :action Forward<CR>

nmap <leader>rn :action RenameElement<CR>
nmap <silent><leader>Q :action CloseEditor<CR>

"" Map \b to toggle the breakpoint on the current line
map <leader>b <Action>(ToggleLineBreakpoint)
